{% extends 'base.html' %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-8 border border-gray-200 shadow-md rounded-lg mt-10 text-center">
    <h2 class="text-3xl font-bold text-gray-800 mb-6">Verifique seu E-mail</h2>
    <p class="text-gray-600 mb-6">Nós enviamos um link para você redefinir a sua senha. Por favor, cheque sua caixa de entrada e spam.</p>
    
    <a class="inline-block align-baseline font-bold text-sm text-blue-600 hover:text-blue-800" href="{% url 'login' %}">
        Voltar para o Login
    </a>
</div>
{% endblock %}
