{% extends 'base.html' %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-8 border border-gray-200 shadow-md rounded-lg mt-10 text-center">
    <h2 class="text-3xl font-bold text-green-600 mb-6">Senha Alterada!</h2>
    <p class="text-gray-600 mb-6">Sua senha foi redefinida com sucesso. Você já pode fazer login.</p>
    
    <a class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline inline-block w-full" href="{% url 'login' %}">
        FAZER LOGIN
    </a>
</div>
{% endblock %}
