{% extends 'base.html' %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-8 border border-gray-200 shadow-md rounded-lg mt-10">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Recuperar Senha</h2>
    <p class="text-gray-600 mb-6 text-center text-sm">Digite seu endereço de e-mail e nós enviaremos instruções para redefinir sua senha.</p>
    
    <form method="POST">
        {% csrf_token %}
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">E-mail</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500" id="email" name="email" type="email" required>
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="submit">
                ENVIAR E-MAIL DE RECUPERAÇÃO
            </button>
        </div>
    </form>
    
    <div class="text-center mt-6">
        <a class="inline-block align-baseline font-bold text-sm text-blue-600 hover:text-blue-800" href="{% url 'login' %}">
            Voltar para o Login
        </a>
    </div>
</div>
{% endblock %}
